Source: python3-couchdb
Section: python
Priority: optional
Maintainer: David Paleino <dapal@debian.org>
Build-Depends:
 debhelper (>= 9~)
 , python3 (>= 3.5)
Build-Depends-Indep:
 python3-sphinx
 , python3-pygments
 , python3-simplejson
 , python3-setuptools (>= 0.6b3)
 , dh-python
Standards-Version: 3.9.6
XS-Python-Version: >= 2.5
Homepage: http://pypi.python.org/pypi/CouchDB
Vcs-Git: git://anonscm.debian.org/collab-maint/python-couchdb.git
Vcs-Browser: http://anonscm.debian.org/cgit/collab-maint/python-couchdb.git

Package: python3-couchdb
Architecture: all
Depends:
 ${python3:Depends}, ${misc:Depends},
 python3-simplejson | python3 (>= 3.5)
Suggests: couchdb
Description: library for working with Apache CouchDB
 Provides a high-level client library for Apache CouchDB, a view server and dump
 and load utilities that can be used as migration tools when upgrading or moving
 between databases.
 .
 Apache CouchDB is a distributed document database system with bi-directional
 replication. It makes it simple to build collaborative applications that can
 be replicated offline by users, with full interactivity (query, add, update,
 delete), and later "synced up" with everyone else's changes when back online.
